django==3.2.6
django-redis
django-rq
redis
sqlparse
channels
channels-redis
boto3
django-storages
gunicorn

psycopg2

elasticsearch==7.14.0
elasticsearch-dsl==7.4.0
django-elasticsearch-dsl==7.2.0

Faker
